@import "lib/normalize";
@import "lib/variable";
@import "lib/button";
@import "lib/common";
@import "lib/grid";
@import "lib/core";

/* common
-------------------------------------------------- */


/* body
-------------------------------------------------- */
body {
	font-family: 'Roboto','Helvetica Neue','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 
		"游ゴシック体", "Yu Gothic", YuGothic, Meiryo, メイリオ, sans-serif;
	background: #fff;
	letter-spacing: .07em;
}
a {
	color: #333333;
	text-decoration:none;
}
a,
button {
	-webkit-tap-highlight-color: rgba(204,204,204,.5);
}

svg:not(:root) {
	overflow: visible;
}

/* default-setting
-------------------------------------------------- */

.wrapper {
	width: 100%;
}
.content {
  display: inline-block;
  width: 100%;
}

/* text
-------------------------------------------------- */
h1,
h2,
h3,
h4,
h5{
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin: 0;
}
h1{
	font-size: 32px;
}
h2{
	font-size: 25px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 14px;
}
h5{
	font-size: 13px
}

p{
	font-size: 14px;
	color: #333;
}

