@import "lib/normalize";
@import "lib/variable";
@import "lib/button";
@import "lib/common";
@import "lib/grid";
@import "lib/core";

/*prefix 
----------------------------------------------*/
@mixin css3($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}

/*common window-size set
----------------------------------------------*/ 
$mq-lg: 1440px; //pc
$mq-md: 1024px; //tab横
$mq-sm: 768px; //tab縦
$mq-xs: 568px; //sp

@mixin pc { //ラップトップ向けブレークポイント 1024〜1440
  @media (min-width: $mq-md) {
    @content;
  }
}
@mixin m-pc { //ラップトップ向けブレークポイント 1024〜1440
  @media (min-width: $mq-md) and (max-width: ($mq-lg)) {
    @content;
  }
}
@mixin s-pc { //タブレット横向けブレークポイント 768〜1024
  @media (min-width: $mq-sm) and (max-width: ($mq-md)) {
    @content;
  }
}
@mixin tab { // 568〜768
  @media (min-width: $mq-xs) and (max-width: ($mq-sm)) {
    @content;
  }
}
@mixin tab-p { //タブレット縦向けブレークポイント 568〜768
  @media (min-width: $mq-xs) and (max-width: ($mq-sm)) and (orientation:portrait) {
    @content;
  }
}
@mixin sp { //スマートフォン向けブレークポイント 〜568
  @media (max-width: ($mq-xs)) {
    @content;
  }
}
@mixin retina {
	@media (-webkit-min-device-pixel-ratio: 2){
	    @content;
	}
}

/* font-style
-------------------------------------------------- */
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

$font-n: font-family: "Roboto", "-apple-system", "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif !default;

/*common color set
----------------------------------------------*/ 
$text: #363b3b !default; //本文or黒
$gray: #e7efef !default; //bg or グレー
$man: #0097ae !default; //男子データカラー
$woman: #e42e88 !default; //女子データカラー
$main: #00478b !default; //基本メインカラー

//medal
$gold: #e0c12f !default;
$silver: #97a8aa !default;
$bronze: #796551 !default;

$japan: #f64d55 !default;

/*common mixin
----------------------------------------------*/

// clear-fix
@mixin clearfix() {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

//absolute position
@mixin absPoz ($top: auto, $right: auto, $bottom: auto, $left: auto) {
     position: absolute;
     top: $top;
     right: $right;
     bottom: $bottom;
     left: $left;
}

//absolute position center
@mixin absCnt() {
	@include absPoz(0, 0, 0, 0);
	margin: auto;
}

//arrow 
@mixin arrow-right($width: 10px, $height: 10px) {
	content: '';
	display: block;
	width: $width;
	height: $height;
	border-top: 1px solid $text;
	border-right: 1px solid $text;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
@mixin arrow-left($width: 10px, $height: 10px) {
	content: '';
	display: block;
	width: $width;
	height: $height;
	border-top: 1px solid $text;
	border-left: 1px solid $text;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}


//pseudo bace
@mixin pseudo($width: 0, $height: 0) {
	content: '';
	display: block;
	width: $width;
	height: $height;
}


/* common-style
-------------------------------------------------- */
@-ms-viewport {
    width: auto;
    initial-scale: 1;
}

body {
	font-family: $font-n ;
}
a {
	color: #333333;
	text-decoration:none;
}
a,
button {
	-webkit-tap-highlight-color: rgba(204,204,204,.5);
}

svg:not(:root) {
	overflow: visible;
}

/* default-setting
-------------------------------------------------- */

.wrapper {
	width: 100%;
}
.content {
  display: inline-block;
  width: 100%;
}

/* text
-------------------------------------------------- */
h1,
h2,
h3,
h4,
h5{
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin: 0;
}
h1{
	font-size: 32px;
}
h2{
	font-size: 25px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 14px;
}
h5{
	font-size: 13px
}

p{
	font-size: 14px;
	color: #333;
}

